// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";

//
// Use this grid if you want to start using the new Foundation 5 grid early.
// It will change breakpoints to min-width: 640px and 1024px.
//
// @import "foundation/components/grid-5";
//

// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

.row:first-child {
	padding-top: 50px;
}

.error {
	background-color: $red-light;
	border: 1px solid $red;
	margin-top: 20px;
	color: $red;
	padding: 10px;
}
.command-line, .command-line2 {
	margin-top: 20px;
	height: 370px;
	border: none;
	color: $green;
	padding: 15px;
	font-size: 20px;
	font-family: 'Electrolize', sans-serif;
	text-transform: uppercase;
	border-bottom: 5px solid darken($dark-grey,10%);
	border-top: 10px solid lighten($dark-grey,50%);
	//border-radius: 3px;
	&:hover,&:focus {
		background: $dark-grey;
	}
}

.command-line2 {
	font-size: 13px !important;
}


	.simulate {
		//border-radius: 3px;
		width: 200px;
		height: 60px;
		border: none;
		background: $green;
		border-bottom: 5px solid #23cb5a;
		color: #fff;
		font-size: 25px !important;
		text-transform: uppercase;
		&:hover {
			background: darken($green,5%);
		}
	}

	.back {
		@extend .simulate;
		line-height: 55px;
		display: inline-block;
		text-align: center;
		margin-top: 5px;
		&:hover {
			color: #fff;
			background: darken($green,5%);
		}
	}

table {
	width: 100%;
	margin-top: 20px;
}

.opcodes, .cycle {
	text-transform: uppercase;
	th {
		text-align: left;
	}
}

.pipeline {
	text-transform: uppercase;
	font-size: 11px;
	th,td {
		text-align: left;
	}
	a {
		color: $dark-grey;
	}
}

.cycle {
	border-collapse: separate !important;
	text-transform: uppercase;
	.title {
		width: 20px;
		padding-left: 15px;
	}

	td:nth-child(2),td:nth-child(3){
		font-size: 12px;
	}
	td {
		height: 30px;
	}
}

.opcodes,.pipeline, .section-container{
	border-bottom: 5px solid lighten($dark-grey,65%) !important;
	//border-top: 10px solid lighten($dark-grey,70%);
	border-collapse: separate !important;
	//border-radius: 3px;
}

.sub {
	border-bottom: none !important;
}